<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Static is working.</h1>
    <div id="app">
        {{ info }}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript">
        // Our data object
        var obj = {};
        
        axios.post('https://mws-js-sultanshakir1.c9users.io/api/GetCompetitivePricingForASIN', {
                "MarketplaceId": "ATVPDKIKX0DER",
                "ASINList": [
                    "B014TRWK52",
                    "B002LMBLTY",
                    "B002LV317A"
                ]
            }, {
                auth: {
                    username: 'admin',
                    password: 'sunnah'
                }
            })
            .then(function(response) {
                // handle success
                // The object is added to a Vue instance
                var vm = new Vue({
                    el: "#app",
                    data: {info: response.data[0].ASIN}
                })
                console.log(response);
            })
            .catch(function(error) {
                // handle error
                console.log(error);
            })
            .then(function() {
                // always executed
            });
        
    </script>
</body>
</html>